nz-breadcrumb {
    margin-bottom: 20px;
}
form {
    max-width: 700px;
    margin: 0 auto;
}
nz-input-group, nz-radio-group {
    margin-bottom: 15px;
    display: block;
}
.col {
    margin: 10px;
}
nz-select {
    margin-right: 8px;
    width: 120px !important;
}
nz-upload img {
    width: 120px;
    height: 120px;
}