hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.05);
    display: block;
    margin: 20px 0;
}
nz-breadcrumb {
    margin-bottom: 20px;
}
[nz-col] {
    padding: 10px;
    img {
        height: 160px;
    }
    nz-card {
        margin: 10px;
        &:hover {
            box-shadow: 0 0 1em rgba(0,0,0,.2);
            transform: scale(1.02);
        }
    }
}