<nz-breadcrumb>
    <nz-breadcrumb-item>
        <a [routerLink]="['/']"><i nz-icon nzType="home"></i></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><i nz-icon nzType="appstore" nzTheme="outline"></i> <span>Rooms</span></nz-breadcrumb-item>
</nz-breadcrumb>
<a nz-button nzType="primary" routerLink="/room/new">
    <i nz-icon nzType="plus" nzTheme="outline"></i> Create Room
</a>
<hr>
<div nz-row [nzGutter]="6" *ngIf="roomsExist && rooms">
    <div nz-col [nzSpan]="6" *ngFor="let room of rooms">
        <nz-card [nzCover]="coverTemplate" [nzActions]="[ actionEdit, actionDelete]">
            <nz-card-meta
                nzTitle="{{ room.name }}"
                [nzDescription]="descriptionTemplate"
            ></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
            <img alt="{{ room.name }}" src="{{ room.photo ? env.assetsUrl+'/'+room.photo : '/assets/nophoto.png' }}" />
        </ng-template>
        <ng-template #descriptionTemplate>
            {{ room.description }}
        </ng-template>
        <ng-template #actionEdit>
            <i nz-icon nzType="edit" [routerLink]="['/room', room.id]" nzTooltipTitle="Edit" nz-tooltip></i>
        </ng-template>
        <ng-template #actionDelete>
            <i nz-icon nzType="delete" nzTooltipTitle="Delete" nz-tooltip></i>
        </ng-template>
    </div>
</div>
<nz-empty *ngIf="!roomsExist"></nz-empty>